body {
	margin: 50px;
}

h1 {
	font-family: 'Inconsolata';
	font-size: 30px;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

p {
	font-family: 'Inconsolata';
	font-size: 14px;
	border-bottom: 1px solid;
	padding-bottom: 20px;
}